/* ОБНУЛЕНИЕ СТИЛЕЙ */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}



/* Домашняя работа */

body {
	background-image: url(fon.png);
	color: aliceblue;
	font-size: 20px;
}
h1 {
	width: 45%;
	box-sizing: border-box;
	/*  margin: 1% 0% 2%; вверх, право-лево, низ */
	margin: 30px auto 40px;
	/* padding: 10px; внутренние отступы*/
	font-size: 50px;
	color: rgb(255, 255, 255);
	background-color: rgba(255, 106, 19, 0.753);
	border-radius: 50px 0;
	box-shadow: #fa4c21ef 0px 5px 30px 10px;
	border-bottom: 2px solid #fa4c21ef;
	text-align: center;
}

.imagelogo {
	text-align: center;
}

.imgalex {
	background: url(alex.png);
	background-attachment: fixed;
}

p {
	font-family: 'Oswald', sans-serif;
	margin: 15px 20px;
	color: #e9e9e9;
}

h2 {
	text-shadow: 3px 3px 10px #ff3502;
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	margin: 20px 50px;
	color: #e9e9e9;
	border-bottom: 2px solid #fa4c21ef;
}

a {
	font-family: 'Oswald', sans-serif;
	color: #fa4c21ef;
	border-bottom: 2px solid #fa4c21ef;
}

.navigation {
	font-family: 'Oswald', sans-serif;
	margin: 1% 5% 1%;
	font-size: 16;
	font-weight: 600;
}

.nanigation_element {
	margin: 0.5% 0.5%;
	color: #fa4c21ef;
}

h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	margin: 20px 50px;
	color: #e9e9e9;
	text-decoration: underline 2px #fa4c21ef;
}

.top {
	width: 45%;
	box-sizing: border-box;
	/*  margin: 1% 0% 2%; вверх, право-лево, низ */
	margin: 30px auto 40px;
	/* padding: 10px; внутренние отступы*/
	font-size: 25px;
	color: rgb(255, 255, 255);
	background-color: rgba(255, 106, 19, 0.753);
	border-radius: 50px 0;
	box-shadow: #fa4c21ef 0px 5px 30px 10px;
	border-bottom: 2px solid #fa4c21ef;
	text-align: center;
}

div a {
	color: #e9e9e9;
}
.alex {
	margin: 1%;
	font-family: 'Pacifico', cursive;
	text-align: end;
	font-size: 20;
	text-shadow: 3px 3px 10px #ff3502;
}

.fontoswald {
	font-family: 'Oswald', sans-serif;
}